/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Reset Button */

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
}

/* Common */

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.flex-center-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-left-nowrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.flex-center-right-nowrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-no-center {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-web {
    display: flex;
    flex-wrap: wrap;
}

.flex-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shrink {
    flex-shrink: 2;
}

.text-center {
    text-align: center;
}

.content-padding {
    padding: 1.5vh;
}

.margin {
    margin: 3vh 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.8rem;
}

h3 {
    font-size: 0.4rem;
}

h4 {
    font-size: 0.2rem;
}

.no-xs {
    display: none;
}

.no-xs:before {
    display: none;
}

.no-xs-inline {
    display: none;
}

.margin-top {
    margin-top: 1rem;
}

.grey {
    color: #797b80;
    font-size: bolder;
}


/* Flex-Web-XS*/


/* Macreo Sezioni */


nav {
    width: 3.5rem;
    background-color: black;
    height: calc(100vh);
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: calc(6rem + 2px);
}

header {
    width: calc(100% - 3.5rem);
    margin-left: 3.5rem;
    background-color: #080b12;
    height: 6rem;
    border: 1px solid #080b12;
}

main {
    width: calc(100% - 3.5rem);
    background-color: #141922;
    height: calc(100vh - 12rem);
    margin-left: 3.5rem;
    border: 5px solid #141922;
    overflow: auto;

}

footer {
    width: 100%;
    background-color: #282828;
    height: calc(6rem + 2px);
    border: 2px solid #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* Header */

button {
    font-weight: bold;
    border: 1px solid white;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
}

/* NavBar */

.content-nav {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


nav i {
    display: block;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
}

nav img {
    width: 2rem;
}

.little {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: grey;
    margin-left: 1rem;
}

nav img:first-child {
    margin-top: 0;
}

.grayscale {
    filter: grayscale(100%) brightness(65%);
}

.list-playlist {
    height: 80%;
    overflow: auto;
}

.list-playlist-670px {
    height: 42vh;
}

.nav-bottom-sec {
    position: absolute;
    bottom: 6rem;
    left: 0;
    height: 8rem;
}

.profile {
    border-radius: 50%;
    background-color: #808080;
}

.underline i {
    position: relative;
    left: -0.45rem;
    bottom: 0.8rem;
}

.line-height {
    line-height: 2rem;
}

/* Main */

.sez-music {
    color: #797b80;
    margin: 1rem;
}

.sez-music div {
    margin: 1rem 0.7rem;
}

.enlight {
    position: relative;
}

.enlight::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: rgb(0, 149, 0);
}

section {
    margin: 1rem;
}

section h1 {
    color: white;
    margin-bottom: 1rem;
}


.macro-section h1 {
    font-size: 1.5rem;
}

.song-container {
    padding: 1rem 0;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.song {
    position: relative;
    width: calc(50% - 1rem);
}

.playbutton {
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    opacity: 50%;
}


.song h2 {
    font-size: 1rem;
    color: white;
}

.song h3,
.macro-section h3 {
    font-size: 0.8rem;
    color: #808080;
}



/* Footer */

footer {
    color: white;
}

.foot-left {
    margin: 1rem;
}

.current-play {
    width: 2.7rem;
    margin-right: 1rem;
}

footer h2,
footer h3 {
    color: white;
    padding: 0.2rem;
}

footer h3 {
    font-size: 0.6rem;
}

.flex-footer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer i {
    color: #808080;
}

.foot-center i {
    color: white;
}

.foot-left {
    width: 30%;
}

.foot-center {
    width: 33.3333%;
    text-align: center;
}


.top-center {
    position: relative;
    top: -1rem;
    width: 80%;
    align-self: center;
}


.sez-progress-bar {
    font-size: 10px;
}

.progress-bar {
    position: relative;
    height: 8px;
    width: 80%;
    background-color: #808080;
    margin: 0 0.3rem;
}

.progress-bar-marked-video {
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 38%;
    height: 10px;
    background-color: #444;
}

.foot-right {
    width: 30%;
}

.foot-right i {
    padding: 0.5rem 0.3rem;
}

.sez-progress-bar-audio {
    width: 45%;
}

.progress-bar-marked-audio {
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 17%;
    height: 10px;
    background-color: #444;
    z-index: 1;
}

/* Hover */

header button:hover {
    padding: 1rem 1.5rem;
}

nav .grey:hover {
    color: white;
}

footer .grey:hover {
    color: white;
}

.grey:hover .hov-white {
    color: white;
}

.grey:hover .hov-white-bright {
    filter: brightness(100%);
}

.grayscale:hover {
    filter: brightness(100%);
}

.left-border:hover {
    border-left: 2px solid rgb(0, 149, 0);
}

.bg-grey:hover .plus {
    background-color: white;
}

.bg-grey:hover .playlist {
    color: white;
}

.enlight:hover .enlight::after {
    display: block;
}

.playlist:hover .plus {
    background-color: white;
}

.underline:hover .little {
    color: white;
}

.sez-music h2:hover {
    color: white;
}

.song:hover .playbutton {
    display: block;
}

/* Media queries */


@media screen and (min-width: 630px) {

    .no-s {
        display: none;
    }

    .no-xs {
        display: block;
    }

    .no-xs:before {
        display: block;
    }

    .no-xs-inline {
        display: inline-block;
    }

    main {
        margin-left: 14rem;
    }

    nav {
        width: 14rem;
    }

    .content-nav {
        padding: 1rem 0.5rem;
        justify-content: flex-start;
        align-items: flex-start;
        color: white;
        gap: 0.5rem;
    }

    .content-nav div {
        margin-bottom: 1rem;
    }

    .content-nav img,
    .content-nav i {
        width: 1.6rem;
        font-size: 1.6rem;
    }

    .search {
        margin-top: 0.5rem;
    }

    #big-logo {
        width: 10rem;
        margin-bottom: 1rem;
    }

    .plus {
        background-color: #808080;
        padding: 0.5rem;
        padding-right: 0.8rem;
        margin-right: 0.5rem;
    }

    .plus i {
        color: black;
        font-size: 2.1rem;
        line-height: 2.1rem;
    }



    .underline {
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
    }

    .underline i {
        position: static;
    }

    .little {
        margin-right: 0.5rem;
        margin-left: 0rem;
    }

    .profile {
        margin-right: 0.5rem;
    }

    .current-play {
        width: 4rem;
    }

}


@media screen and (min-width: 860px) {
    .flex-footer {
        flex-direction: row;
        gap: 1rem;
    }

    .top-center i {
        font-size: 1.7rem;
    }

    .top-center .fa-circle-play {
        font-size: 2.1rem;
    }

    .song {
        width: calc(33% - 0.7rem);
    }
}

@media screen and (min-width: 1120px) {
    .song {
        width: calc(13% - 1.5rem);
    }
}

/* Scomparsa PLaylist */

@media screen and (max-height: 1000px) {
    .list-playlist {
        display: none;
    }
}

@media screen and (max-height: 670px) {
    .list-playlist-670px {
        display: none;
    }
}

@media screen and (max-height: 480px) {
    .nav-bottom-sec {
        display: none;
    }
}